{% extends "base.html" %}
{% block title %}{{ tutorial.title }} - ACM校队管理系统{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-body">
                <h4>{{ tutorial.title }}</h4>
                {% if tutorial.description %}
                <p class="text-muted">{{ tutorial.description }}</p>
                {% endif %}
                <div class="ratio ratio-16x9 mb-3">
                    <iframe src="{{ tutorial.video_url }}" allowfullscreen></iframe>
                </div>
                <a href="{{ tutorial.video_url }}" target="_blank" class="btn btn-primary">在新窗口打开视频</a>
                <a href="{{ url_for('main.tutorials') }}" class="btn btn-secondary">返回列表</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
